<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>대출신청</title>
	<link rel="stylesheet" href="__ROOT__/Public/Home/css/aui.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/style.css?v=1">
	<script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/fontSize.js"></script>
</head>
<body class="paddingBottom">
	<header class="mui-bar mui-bar-nav">
	  <a class="mui-pull-left">
	  	<img src="__ROOT__/Public/Home/img/1.png" alt="" style="height: 23px;margin-left: -10px;">
	  </a>
	   <span class="mui-pull-right">
	  서민금융나들목
	   </span>
	  <!-- <h1 class="mui-title">서민금융나드론</h1> -->
	</header>
	<div class="mui-content">
		<form class="mui-input-group" action="" method="post">
		 <div class="mui-input-row">
		        <label>대출 신청</label>  <img src="__ROOT__/Public/Home/img/three.png" style="height: 40px;margin-left: 110px;">
		        <!-- <input type="number" class="mui-input-clear" placeholder="姓名" id="num"> -->
		    </div>
		   
		    <div class="mui-input-row">
		        <label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
		        <input type="text"  name="name" class="mui-input-clear" placeholder="" id="num">
		    </div>

		    <div class="mui-input-row">
		        <label>出生日期</label>
		        <input type="date" name="birthday" class="mui-input-clear" placeholder="" id="num">
		    </div>

			<!-- 		    <div class="mui-input-row">
					        <label>생년원일</label>
			<select>
			  <option value ="volvo">one</option>
			  <option value ="saab">two</option>
			  <option value="opel">three</option>
			  <option value="audi">foru</option>
			</select>
					        
					    </div> -->

		    <div class="mui-input-row">
		        <label>手机号码</label>
		        <input type="text" name="tel" class="mui-input-clear" placeholder="" id="num">
		    </div>

		     <div class="mui-input-row">
		        <label>金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;额</label>
		        <input type="text" name="number" class="mui-input-clear" placeholder="" id="num">
		    </div>
		    <!-- <div style="margin-left: 50px;margin-top: 15px;"> -->
		<!--     <button type="submit" class="mui-btn mui-btn-primary" style="background-color: #04cbd9;    border: 1px solid #04cbd9;width: 140px;">신청</button>
<button type="button" class="mui-btn" style="border: 1px solid #ccc;width: 140px;">取消</button>
		    </div> -->


			 <button class="mui-btn mui-btn-block" id="submit">신청</button>
			<!--<button class="mui-btn mui-btn-block" id="submit">신청</button> -->
		</form>
	</div>
	<nav class="mui-bar">
		<img src="__ROOT__/Public/Home/img/buttom.jpg" style="height: 110px;margin-top: 120px;margin-left:-6px;">
	</nav>
<!-- 	<nav class="mui-bar mui-bar-tab">
		<a class="mui-tab-item" data-href="index.html">
			<span class="mui-icon">sadfasdf
			<img src="img/7.png" alt=""></span>
			<span class="mui-tab-label">首页</span>
		</a>
		<a class="mui-tab-item" data-href="funds.html">
			<span class="mui-icon" style="width: 20px;"><img src="img/81.png" alt=""></span>
			<span class="mui-tab-label">账单</span>
		</a>
		<a class="mui-tab-item  mui-active" data-href="recharge1.html">
			<span class="mui-icon"><img src="img/91.png" alt=""></span>
			<span class="mui-tab-label">充值</span>
		</a>
		<a class="mui-tab-item" data-href="my.html">
			<span class="mui-icon"><img src="img/10.png" alt=""></span>
			<span class="mui-tab-label">我的</span>
		</a>
	</nav> -->
	
</body>
</html>