<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>대출신청</title>
	<link rel="stylesheet" href="__ROOT__/Public/Home/css/aui.min.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Home/css/style.css?v=1">
	<script type="text/javascript" src="__ROOT__/Public/Home/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="__ROOT__/Public/Home/js/fontSize.js"></script>
	<style type="text/css">
		/*html{height:100%;}*/
		/*body{min-height:100%;margin:0;padding:0;position:relative;}*/

		.header{background-color: #ffe4c4;}
		.main{padding-bottom:100px;background-color: #bdb76b;}/* main的padding-bottom值要等于或大于footer的height值 */
		.footer{position:absolute;bottom:0;width:90%;height:100px;margin-bottom: 120px;}
	</style>
</head>
<body class="paddingBottom">
	<header class="mui-bar mui-bar-nav">
	  <a class="mui-pull-left">
	  	<img src="__ROOT__/Public/Home/img/1.png" alt="" style="height: 23px;margin-left: -10px;">
	  </a>
	   <span class="mui-pull-right">
	  서민금융나들목
	   </span>
	  <!-- <h1 class="mui-title">서민금융나드론</h1> -->
	</header>
	<div class="mui-content">
		<form class="mui-input-group">
		 <div class="mui-content-padded" style="text-align: center;">

			 <p>
				 <div style="float: left;width: 190px;"> <span>서류 신청 접수 완료 됐습니다. 빠른시간내에 연락 드리겠습니다.</span></div>

			   <img src="__ROOT__/Public/Home/img/success.jpg" style="width: 150px;" data-preview-group="1" />
			 </p>
		</div>
		   
		    
		</form>
	</div>


	<nav class="mui-bar">
		<img src="__ROOT__/Public/Home/img/buttom.jpg" style="height: 110px;margin-top: 120px;margin-left:-6px;">
	</nav>
	<!--<div class="footer">-->
		<!--<img src="__ROOT__/Public/Home/img/buttom.jpg" style="height: 110px;margin-left:-6px;">-->
	<!--</div>-->


<!-- 	<nav class="mui-bar mui-bar-tab">
		<a class="mui-tab-item" data-href="index.html">
			<span class="mui-icon">sadfasdf
			<img src="img/7.png" alt=""></span>
			<span class="mui-tab-label">首页</span>
		</a>
		<a class="mui-tab-item" data-href="funds.html">
			<span class="mui-icon" style="width: 20px;"><img src="img/81.png" alt=""></span>
			<span class="mui-tab-label">账单</span>
		</a>
		<a class="mui-tab-item  mui-active" data-href="recharge1.html">
			<span class="mui-icon"><img src="img/91.png" alt=""></span>
			<span class="mui-tab-label">充值</span>
		</a>
		<a class="mui-tab-item" data-href="my.html">
			<span class="mui-icon"><img src="img/10.png" alt=""></span>
			<span class="mui-tab-label">我的</span>
		</a>
	</nav> -->
	
</body>
</html>